.notific{
    text-align: center;
    border:3px solid royalblue;
    border-radius: 10px;
    padding: 10px;
    margin-top: 20px;
}
.date{
    color: black;
}
.bell{
    border:3px solid royalblue;
    border-radius: 30px;

    color: aliceblue;
}